@charset "UTF-8";

body {
  font-family: "Mulish", sans-serif;
  background: var(--color-base-litle-white);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form .stars {
  display: none;
}

:root {
  font-size: 62.5%;

  --color-base-litle-white: #F9F4FB;
  --color-base-pink: #B52184;
  --color-base-dark-purple: #312D64;
  --color-base-light-purple: #343193;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main .astronaut {
  -webkit-user-drag: none;
  height: 37rem;
  
}

main .title {
  margin: 1.7rem;
  font-family: "Mulish", sans-serif;
}

main h1 {
  color: var(--color-base-pink);

  line-height: 1rem;

  font-size: 3.2rem;
  font-weight: 900;
}

main p {
  color: var(--color-base-dark-purple);

  line-height: 1rem;

  font-size: 2rem;
  font-weight: 600;
}

main .arrow {
  -webkit-user-drag: none;
  height: 10.5rem;
  margin: 0 0 9.3rem;
}

/*Frame*/
.frame-background {
  background-image: linear-gradient(to right, var(--color-base-light-purple), var(--color-base-dark-purple));
  align-items: center;
}
.frame {
  margin: 9.3rem 0 7.8rem;
  padding: 5.2rem 3.9rem;
  gap: 4.8rem;
  width: 38.;

}

.frame div {
  background: white;
  margin: 0 auto;
  padding: 2.6rem 5.9rem 2.6rem 2.6rem;
  border-radius: 1.9rem;

  max-width: 30rem;
}

.frame div:nth-child(2), div:nth-child(1) {
  margin: 0 auto 5rem;
}


.frame div img {
  -webkit-user-drag: none;
  height: 8rem;
}

.frame div h2 {
  margin: 3.3rem 0 1.9rem 0;

  font-size: 2.9rem;
  font-weight: 900;
  color: var(--color-base-pink);
}

.frame div p {
  margin: 0;

  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-base-light-purple);
}

/*FORM*/

form {
  display: flex;
  flex-direction: column;
  margin: 7.8rem 4rem 6.5rem;
  align-items: center;
}

form fieldset {
  margin: 0;
  border: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

form fieldset legend {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--color-base-pink);
  margin: 0 0 4.3rem;
}

.input-wrapper img {
  -webkit-user-drag: none;
  height: 2.4rem;
  position: absolute;
  margin: 1.4rem;
}

.input-wrapper input{
  padding:  1.6rem 1.6rem 1rem 5rem;
  border: solid .2rem var(--color-base-dark-purple);
  border-radius: 1.6rem;
  width: 27.5rem;
  background: var(--color-base-litle-white);
  color: var(--color-base-dark-purple);
}

.input-wrapper textarea {
  padding: 1.6rem;
  width: 30.9rem;
  height: 9.6rem;
  border: solid .2rem var(--color-base-dark-purple);
  border-radius: 1.6rem;
  background: var(--color-base-litle-white);
  color: var(--color-base-dark-purple);
  resize: none;
}

.input-wrapper p {
  position: absolute;
  align-self: center;
  margin-left: 1.6rem;
  color: var(--color-base-dark-purple);
}

.input-wrapper input, textarea{
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  color: var(--color-base-dark-purple);
}

::placeholder {
  color: var(--color-base-dark-purple);
  font-weight: 650;
}

input.button {
  width: 13.9rem;
  padding: 1.3rem 1.6rem;
  background-image: linear-gradient(to right, var(--color-base-light-purple), var(--color-base-dark-purple));
  border-radius: 1.6rem;
  border: none;
  color: white;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

input.button:hover {
  background-image: linear-gradient(to right, #3e3aaa, #423d8a);
}

footer {
  text-align: center;
  padding: 3.5rem 1.6rem;
  background-image: linear-gradient(to right, var(--color-base-light-purple), var(--color-base-dark-purple));
  color: white;
  font-size: 1.93rem;
}

footer p {
  margin: 0;
  line-height: 0;
}

/*Desktop/Tablet*/

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-between;
    margin: 0 0 10.3rem;
  }

  main .title {
    order: 1;
    margin: 22.2rem 0 0 20rem;
  }

  .title h1 {
    font-size: 5rem;
  }
  .title p {
    font-size: 2.5rem;
    text-align: left;
    padding-left: 4.25rem;
  }

  main .astronaut {
    order: 2;
    height: 50.2rem;
  }

  main .arrow {
    order: 3;
    height: 7.5rem;
    position: absolute;
    top: 40rem;
    left: 24rem;
  }

  .frame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-right: 0;
    
  }

  .frame div {
    max-width: 30rem;
    height: 38rem;
    margin: 0;
  }

  .frame div:nth-child(2) {
    margin: 0;
  }

  .frame div p {
    font-size: 1.9rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 2.56rem;

  }

  .input-wrapper input {
    width: 90%;
  }

  .input-wrapper textarea {
    width: 95%;
  }



  form img.stars {
    position: absolute;
    right: 0rem;
    display: flex;
    -webkit-user-drag: none;
  }
}